<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Бесіда</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="static/js/scripts.js"></script>
    <link rel="stylesheet" href="static/css/styleChat.css" />
</head>
<body>
<body th:style="'background-image: url(images/18.jpg);'">

<div class="chat_window">
    <div class="top_menu">

        <div class="title"><p th:text="${recipient}"></p></div>
    </div>
    <ul id ="messageArea" class="messages">
        <input type="hidden" id="id_recipient" th:value="${recipient}">
        <input name="id_chat" id="chat_id" type="hidden" th:value="${chat_id}">


    </ul>
    <form>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input id="private-message" class="message_input" placeholder="Type your message here..." />
            </div>
            <div class="send_message">
                <div >
                    <button id="send-private" class="btn third" type="button">Send</button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>


</body>
</div>
</body>
</html>