<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Mail</h1>
<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Sign Out"/>-->
<!--</form>-->
<!--<div>-->
<!--    <form method="post" th:action="@{main}">-->
<!--        <input type="text" name="text" placeholder="Enter text">-->
<!--        <input type="text" name="tag" placeholder="Enter tag">-->
<!--        <button type="submit">Add</button>-->
<!--    </form>-->
<!--</div>-->
<!--<form method="post" th:action="@{filter}">-->
<!--    <input type="text" name="filter" placeholder="Enter tag">-->
<!--    <button type="submit">Find</button>-->
<!--</form>-->

<!--<h3>List message</h3>-->
<!--<div th:each="message: ${messages}">-->
<!--    <p th:text="${message.getText}+'&#45;&#45;'+${message.getTeg}+'('+${message.getAuthor}+')'"></p>-->
<!--</div>-->
</body>
</html>